/* style.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */

body {
	background: #333;
	color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 10px 0;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

p {
	line-height: 24px;
	margin: 10px 0;
}

hr {
	margin: 0 0 10px;
	width: 90%;
}

/* Author Styles */

header {
	height: 75px;
	margin-bottom: 40px;
	/*padding: 20px 0;*/
}

header h1.logo a {
	background-image: url(../img/AIC.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: block;
	float: left;
	height: 75px;
	text-indent: -9999px;
	width: 230px;
}

header nav ul {
	float: right;
}

header nav ul li {
	float: left;
	line-height: 36px;
	/*padding: 0 0 10px 10px;*/
	margin-left: 10px;
	position: relative;
}

header nav ul li a {
	color: #fff;
}

header nav ul li a:hover {
	color: #f00;
}

header nav ul li:last-child {
	line-height: 33px;
	/*margin-bottom: 1px;*/
}

header nav ul li:last-child a {
	background: #f00;
	border-radius: 3px;
	padding: 6px 10px 5px;
}

header nav ul li:last-child a:hover {
	background: #fff;
	color: #f00;
	text-decoration: none;
}

header p {
	color: #999;
	text-align: right;
}

header p a {
	color: #999;
}

header p a:hover {
	color: #fff;
}

#home_content {
	background: #fff;
	border-radius: 5px;
	padding: 10px 20px 20px;
}

#home_content a {
	color: #f00;
}

aside {
	color: #fff;
}

aside h3 {
	color: #f00;
}

aside ul {
	margin-bottom: 30px;
}

aside ul li a {
  display: block;
  text-decoration: none;
  line-height: 32px;
  color: #fff;
  padding-left: 5px;
}

aside ul li a.selected, aside ul li a.active {
  background: #fff;
  border-radius: 5px;
  border-left: 5px solid #f00;
  color: #f00;
  /* font-weight: bold; */
  padding-left: 10px;
}

aside ul li a.selected i, aside ul li a.active i {
  margin-right: 0px;
}

aside ul li a:hover {
  background: #fff;
  border-radius: 5px;
  border-left: 5px solid #f00;
  color: #f00;
  padding-left: 10px;
  text-decoration: none;
}

aside form {
	margin-bottom: 30px;
	position: relative;
}

aside input[type=text] {
	border: 0;
	border-radius: 5px;
	color: #000;
	height: 30px;
	padding-right: 15%;
	width: 100%;
}

aside input[type=text]:focus {
	outline: none;
	text-indent: 5px;
}

aside input[type=submit] {
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 0;
	border-radius: 0 5px 5px 0;
	background: #f00;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

aside input[type=submit]:hover {
	background: hsla(0, 100%, 44%, 81);
}

.content {
	background: #fff;
	border-radius: 5px;
	padding: 10px 20px 20px;
}

.sidebar_layout_footer {
	color: #999;
	text-align: right;
}

.sidebar_layout_footer p {
	padding-top: 10px;
}

.sidebar_layout_footer a:hover {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.sidebar_layout_footer a:focus {
	color: #fff;
	text-decoration: none;
}

footer {
	color: #999;
	text-align: right;
}

footer a:hover {
	color: #f00;
}

footer a:focus {
	color: #f00;
}